.board-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: lightgray;
  cursor: pointer;
}

.pointer-events-none{
  pointer-events: none;
}